<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/5e431a384b.js" crossorigin="anonymous"></script>
  <title>Result</title>
</head>

<body>
  <div id="typed-strings">
    <p class="initial">$desktop/bin/temp/details:- loading...</p>
    <p>-Country: <%= country %>(<%= countryCode %>) <br>
      -Region: <%= regionName %> <br>
      -City: <%= cityName %> <br>
      -Zip Code: <%= zipCode %> <br>
      -Longitude: <%= lon %> <br>
      -Latitude: <%= lat %> <br>
      -Internet Service Provider: <%= isp %> <br>
      -Organization: <%= organization %> <br>
      -Automous System Number: <%= as %>
    </p>

    <p>$status:- CLEARED ! Hit f5 to refresh!</p>
  </div>

  <div class="terminal">
    <span id="typed"></span>
  </div>

  <form action="/" method="POST">
    <button type="submit" class="btn btn-light reset-btn"> <i class="fas fa-undo-alt"></i> Back</button>
  </form>

  <script>
    var typed = new Typed('#typed', {
      stringsElement: '#typed-strings',
      smartBackspace: true,
      typeSpeed: 20,
      backSpeed: 0,
      backDelay: 5000

    });
  </script>
</body>
</html>